<div class="container">
    <h2 class="text-center mt-4 text-white">Login From Here</h2>
    <div class="row mt-5">
        <div class="col-md-4 col-sm-12">
        </div>
        <div class="col-md-4 col-sm-12 text-center">
            <input type="text" [(ngModel)]="username" class="form-control mt-5" placeholder="Enter username">
            <input type="text" [(ngModel)]="password" class="form-control mt-2" placeholder="Enter password">
            <button class="btn btn-success mt-3" (click)="login()">
                Login
            </button>
            <br>
            <a href="" routerLink="/register" >Register</a>
        </div>
        <div class="col-md-4 col-sm-12">
        </div>
    </div>
</div>