<div class="container">
    <h2 class="text-center mt-4 text-white">Welcome to GitHub Finder</h2>
    <div class="row mt-5">
        <div class="col-md-4 col-sm-12">
        </div>
        <div class="col-md-4 col-sm-12 text-center">
            <input type="text"  class="form-control mt-2" [(ngModel)]="name" placeholder="Enter name">
            <input type="text"  class="form-control mt-2" [(ngModel)]="username" placeholder="Enter username">
            <input type="text"  class="form-control mt-2" [(ngModel)]="password" placeholder="Enter password">
            <button class="btn btn-success mt-3" (click)="register()">
                Register
            </button>
            <br>
            <a href="" routerLink="/welcome" >Login</a>
        </div>
        <div class="col-md-4 col-sm-12">
        </div>
    </div>
</div>